<%- layout('layouts/boilerplate') %>
    <!--loader -->
    <div class="loader-container">
        <img draggable="false" src="/images/preloader.gif" alt="">
    </div>

    <!--Inicio de seccion INICIO -->
    <section class="home" id="home">
        <div id="particles-js"></div>

        <div class="content">
            <h3>BOA..! <br /> O FUTURO COMEÇOU <span>Alura & Gemini</span></h3>
            <p>apaixonados por <span class="typing-text"></span></p>
            <a href="#about" class="btn"><span>Sobre Nós</span>
                <i class="fas fa-arrow-circle-up"></i>
            </a>
            <!-- Redes SocialesLinks -->
            <div class="socials">
                <ul class="social-icons">
                    <li><a class="linkedin" href="https://www.linkedin.com/in/federico-dorigatti-assan/"
                            target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="github" href="https://github.com/F-DoriAss" target="_blank"><i
                                class="fab fa-github"></i></a>
                    </li>
                    <li><a class="telegram" href="#" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/dorigatti_assan/"><i class="fab fa-instagram"
                                target="_blank"></i></a></li>
                    <li><a class="dev" href="/" target="_blank"><i class="fab fa-dev"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img draggable="false" class="tilt" src="images/perfile/perfil.jpeg" alt="">
        </div>
    </section>
    <!-- Fin de INICIO -->


    <!-- Inicio de seccion PERFIL -->
    <section class="about" id="about">
        <h2 class="heading"><i class="fas fa-comments"></i> deixe-me  <span> te contar </span></h2>

        <div class="row">

            <div class="image">
                <img draggable="false" class="tilt" src="images/perfile/About.png" alt="">
            </div>
            <div class="content">
                <h3>Eu sou Alura e Gemini</h3>
                <span class="tag">Seu Passaporte para o Mundo da IA</span>
                <p>A Alura, em parceria com o Google, criou uma plataforma de aprendizado inovadora que combina os cursos práticos da Alura com a poderosa inteligência artificial do Gemini 🤝💡. Essa aliança tem como objetivo facilitar o aprendizado de novas tecnologias e habilidades relacionadas a programação e inteligência artificial 🚀📚.</p>

                <div class="box-container">
                    
                    <div class="box">
                        <p><span> Promotores : </span><a href="https://cursos.alura.com.br/imersao">
                                Alura & Google Gemini
                            </a></p>
                        <p><span> Lugar : </span> São Paulo, Estado de São Paulo - 18000-000</p>
                    </div>

                    <div class="box">
                        <p><span> Instrutores:  </span> Rafaella | Guilherme  | Luciano </p>
                        <p><span>  </span></p> <div class="socials-inst">
                            
                            <ul class="social-icons-inst">
                                <li><a class="linkedin" href="https://www.linkedin.com/in/rafaella-ballerini-45875016a"
                                        target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a class="linkedin" href="https://www.linkedin.com/in/lucianommartins/"
                                            target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                            <li><a class="linkedin" href="https://www.linkedin.com/in/guilherme-lima-developer/"
                                                target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BTN descarga de CV -->
                <div class="resumebtn">
                    <a href="https://alura.com.br/" class="btn"
                        ><span>
                            COMECE AGORA</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Fin de seccion PERFIL -->

    


    <!-- Inicio de seccion de SITES -->
    <section class="sites" id="sites">

        <h1 class="heading"><i class="fas fa-award"></i> Sites <span>Oficiales</span></h1>

        <p class="qoute">Descubra o futuro da tecnologia com Alura e Gemini! ✨</p>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img draggable="false" src="/images/sites/alura-profile.png" alt="Alura Profile">
                </div>
                <div class="content">
                    <h3>Alura - o mundo da tecnologia</h3>
                    <p>A Alura é uma plataforma de educação online popular na América Latina, especialmente no Brasil. Oferece cursos em áreas tecnológicas como programação e design, com aprendizado no seu próprio ritmo. Inclui vídeos, exercícios e uma comunidade para tirar dúvidas. É uma excelente opção para quem quer melhorar suas habilidades tech. 🚀💻</p>
                    <a href="https://alura.com.br/">entre nos cursos alura</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img draggable="false" src="/images/sites/gemini.png" alt="Gemini Logo">
                </div>
                <div class="content">
                    <h3>Gemini: Uma Revolução na Inteligência Artificial</h3>
                    <p>O Gemini é um modelo de linguagem de grande porte desenvolvido pelo Google. 🤖 Ele representa um avanço significativo na inteligência artificial, capaz de realizar uma ampla gama de tarefas com precisão e complexidade impressionantes. 🌟💬 É uma grande inovação no campo da IA</p>
                    <a href="https://gemini.google.com/"> conversar com Gemini</a>
                </div>
            </div>

        </div>
    </section>
    <!-- Fin de seccion de SITES -->


    <!-- Inicio de saccion de AULAS-->
    <section class="aulas" id="aulas">

        <h2 class="heading"><i class="fas fa-laptop-code"></i> Participe  <span>do Aulas</span></h2>

        <div class="box-container">
            <% for(let i=0; i < 6; i++) { %>
                <div class="box tilt">
                    <img draggable="false" src="<%=projects[i].image%>" alt="Project Image" />
                    <div class="content">
                        <div class="tag">
                            <h3>
                                <%=projects[i].name%>
                            </h3>
                        </div>
                        <div class="desc">
                            <p>
                                <%=projects[i].desc%>
                            </p>
                            <div class="btns">
                                <a href="<%=projects[i].links.view%>" class="btn" target="_blank"><i
                                        class="fas fa-eye"></i>
                                    Ver</a>
                                <a href="<%=projects[i].links.code%>" class="btn" target="_blank">Codigo <i
                                        class="fas fa-code"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>

        <div class="viewall">
            <a href="/project" class="btn"><span>Ver Mais</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>

    </section>
    <!-- Fin de seccion AULAS -->

    <!-- Inicio de seccion de LENGUAJES -->
    <section class="lenguage" id="lenguage">

        <h2 class="heading"><i class="fas fa-lightbulb"></i> linguagem </h2>

        <div class="timeline">

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>HTML</h2>
                    </div>
                    <div class="desc">
                        <h3>Estrutura de Páginas Web,
                            Elementos e Tags,
                            Formulários e Entradas,
                            Links e Navegação,
                            Imagens e Multimídia,
                            Tabelas e Dados,
                            Semântica e Acessibilidade,
                            Boas Práticas</h3>
                        <p>Developer Front-End ALURA</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>CSS</h2>
                    </div>
                    <div class="desc">
                        <h3>Estilização de Texto,
                            Layout e Posicionamento,
                            Cores e Fundos,
                            Design Responsivo,
                            Estilos de Componentes,
                            Animações e Transições,
                            Pseudo-classes e Pseudo-elementos,
                            Layouts Avançados,
                            Estilos Condicionais,
                            Boas Práticas de Design</h3>
                        <p>Developer Front-End ALURA</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>REACT</h2>
                    </div>
                    <div class="desc">
                        <h3>Componentes,
                            Estado e Props,
                            Hooks,
                            Roteamento,
                            Context API,
                            Formulários,
                            Efeitos Colaterais,
                            Renderização Condicional,
                            Performance,
                            Testes</h3>
                        <p>Developer Front-End ALURA</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>ANGULAR</h2>
                    </div>
                    <div class="desc">
                        <h3>Componentes,
                            Módulos,
                            Serviços e Injeção de Dependência,
                            Diretivas,
                            Roteamento,
                            Formulários,
                            Data Binding,
                            Pipes,
                            Observables,
                            Testes</h3>
                        <p>Developer Front-End ALURA</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>NODE</h2>
                    </div>
                    <div class="desc">
                        <h3>Servidor HTTP,
                            Módulos e Pacotes,
                            Manipulação de Arquivos,
                            Banco de Dados,
                            Rotas e Middleware,
                            Streams,
                            Autenticação e Autorização,
                            Sockets e Websockets,
                            Assíncrono e Promessas,
                            Testes</h3>
                        <p>Developer Back-End ALURA</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="morebtn">
            <a href="/lenguage" class="btn"><span>Ver Mais</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>

        </div>

    </section>
    <!-- Fin de seccion de EXPERIENCIA -->

    <!-- Inicio de seccion CONTACTO(formulario) -->
    <section class="contact" id="contact">

        <h2 class="heading"><i class="fas fa-headset"></i> Entre em  <span>contato</span></h2>

        <div class="container">
            <div class="content">
                <div class="image-box">
                    <img draggable="false" src="/images/contact1.png" alt="">
                </div>
                <form action="#">

                    <div class="form-group">
                        <div class="field">
                            <input type="text" name="name" placeholder="Nombre" required>
                            <i class='fas fa-user'></i>
                        </div>
                        <div class="field">
                            <input type="text" name="email" placeholder="Email" required>
                            <i class='fas fa-envelope'></i>
                        </div>
                        <div class="field">
                            <input type="text" name="phone" placeholder="Celular">
                            <i class='fas fa-phone-alt'></i>
                        </div>
                        <div class="message">
                            <textarea placeholder="Escribe un comentario..." name="Message" required></textarea>
                            <i class="fas fa-comment-dots"></i>
                        </div>
                    </div>
                    <div class="button-area">
                        <button type="submit"
                            title="¡Lo siento! Este servicio aún no está activo. Hasta entonces, chat en vivo.">
                            Enviar <i class="fa fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Fin de seccion CONTACTOS -->



    <!--btn scroll-sube -->
    <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
    <!-- scroll atras -->